#main {
  background-color: white;
  border-radius: 5px;
}

.wrapper-masthead, 
.wrapper-footer {
 background-color: $summer-blue !important; 
}

.site-name {
  font-family: 'Permanent Marker', cursive;
  font-size: 35px;
}

.site-name,
.site-description,
nav a {
  color: $white;
}

